<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidcourse.grocery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/groceryicon"
        android:label="@string/app_name"
        android:theme="@style/SampleTextTheme" >
        <activity
            android:name=".activity.item.display.DisplayTraderItemActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity>
        <activity android:name=".activity.item.update.ItemAddUpdateActivity" >
        </activity>

        <provider
            android:name=".dao.TraderContentProvider"
            android:authorities="com.androidcourse.grocery.contentprovider" >
        </provider>
    </application>

</manifest>